:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


html, body, #root {
  width: 100%;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}


.main-content {
  padding-top: 56px;
}


.dpad-btn {
  width: 50px;
  height: 50px;
}

/* hide the zoom stuff */
/*.fixed.inset-0.z-50.flex.items-center.justify-center.bg-theme-surface {
  display: none !important;
}*/

/* zoom css messing things up.. */
.alert ol,
.alert ul {
  list-style: decimal;
  margin-left: 1.25rem;
  padding-left: 1.25rem;
}

/*h1 {
  font-size: 2rem;
  font-weight: 700;
  margin: 0.67em 0;
}

h2 {
  font-size: 1.75rem;
  font-weight: 600;
  margin: 0.83em 0;
}

h3 {
  font-size: 1.5rem;
  font-weight: 600;
  margin: 1em 0;
}

h4 {
  font-size: 1.25rem;
  font-weight: 600;
  margin: 1.33em 0;
}

h5 {
  font-size: 1rem;
  font-weight: 600;
  margin: 1.67em 0;
}

h6 {
  font-size: 0.875rem;
  font-weight: 600;
  margin: 2.33em 0;
}
*/